@import url("reset.css");
body{
	font-family: '微軟正黑體', 'PingFang', 'sans-serif';
	color: rgba(13,13,13,0.9);
	min-height: 100vh;
	font-size: 18px;
}
p,li{
	line-height: 1.5;
	letter-spacing: 1.2px;
}
a{
	color: rgba(13,13,13,0.9);
	transition: opacity .2s ease-in-out;
}

.bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	left: 0;
	background: url(../img/bg1.jpg) no-repeat center;
	background-size: cover;
	filter: blur(2px);
}

h2 span{
	margin-left: 5px;
}

/***開廠動畫***/
.load{
	overflow: hidden;
	animation-name:load;
	animation-duration:0s;
	animation-delay:8.5s;
	animation-fill-mode:forwards;
}
@keyframes load{
    from{
      overflow: hidden;
    }
    to{
      overflow: auto;
    }
}

#loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgb(254,254,254);
	animation-name:bgRemove;
	animation-duration:0s;
	animation-delay:6s;
	animation-fill-mode:forwards;
	/* display: none; */
}
@keyframes bgRemove{
    from{
      background-color: rgb(254,254,254);
    }
    to{
      background-color: transparent;
    }
}
#loading .positionZero{
	position: absolute;
	left: calc(50% - 51.5px);
	top: calc(50% - 51.5px);
	width: 100px;
	height: 100px;
	border: 1.5px solid #ccc;
	background: #FFF;
	border-radius: 50%;
	animation-name:spin;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes spin{
    from{
      transform:rotate(0);
    }
    to{
      transform:rotate(360deg);
    }
}
#loading .line{
	position: absolute;
	left: 50%;
	width: 0;
	height: calc(50% - 1px);;
	background-color: rgb(254,254,254);
}

.line.top{
	top:0;
	border-bottom: 1px solid #ccc;
}
.line.bottom{
	bottom: 0;
	border-top: 1px solid #ccc;
}
.leaveT{
	animation-name:leaveT;
	animation-duration:4s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}
.leaveB{
	animation-name:leaveB;
	animation-duration:4s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}
@keyframes leaveT{
		0%{
			left:50%;
			width: 0;
    }
    50%{
			left:0%;
			width: 100%;
			top:0;
			opacity: 1;
    }
    100%{
			top:-50%;
			opacity: .5;
			left:0%;
			width: 100%;
    }
}
@keyframes leaveB{
		0%{
			left:50%;
			width: 0;
    }
    50%{
			left:0%;
			width: 100%;
			bottom:0;
			opacity: 1;
    }
    100%{
			bottom:-50%;
			opacity: .5;
			left:0%;
			width: 100%;
    }
}
/******/
header{
	padding: 20px 0;
	display: none;
}
header ul{
	display: block;
	text-align: right;
}
header ul li{
	display: inline-block;
	width: 150px;
	text-align: center;
}
header ul li a{
	color: rgba(255,255,255,0.9);
	font-size: 18px;
	font-weight: 500;
}

main{
	position: relative;
	background: rgba(204,204,204,.85);
}
.dome{
	border-radius: 50% 50% 0 0;
	background: rgba(204,204,204,.85);
	width: 100%;
	height: 200px;
	margin-top: calc(50vh - 11.5px);
}
.content{
	width: 90%;
	top: -240px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content h2{
	font-size: 36px;
	margin-bottom: 20px;
}
.content h2 span{
	font-size: 24px;
	display: block;
	line-height: 1;
	font-family: 'Times New Roman', Times, serif;
}

#intro{
	width: 30%;
	margin-bottom: 100px;
}

.skill{
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}
.skill h2{
	width: 100%;
}
.skill > ol{
	width: 30%;
	margin-bottom: 40px;
}
.skill h3{
	font-size: 28px;
	border-bottom: 1.5px solid rgba(13,13,13,.9);
	padding:0 0 5px 10px;
	margin-bottom: 10px;
}
.skill li{
	padding-left: 10px;
}

.shadow{
	box-shadow: 0px 0px 15px rgba(255,255,255,0.7);
}

.avatar{
	width: 100%;
	margin:0 auto 0 auto;
	top:-240px
}
.avatar > div{
	width: 100px;
	background-color: rgba(255,255,255,0.85);
	border: 1.5px solid #FFF;
	border-radius: 50%;
	margin:0 auto 10px auto;
}
.avatar p{
	text-align: center;
	font-weight: 900;
}
#exp{
	width: 100%;
	overflow: hidden;
}
#exp ol{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
#exp ol .line{
	position: absolute;
	top: 0;
	left: 209px;
	width: 4px;
	height: 2000px;
	background-color: #666;
}
#exp ol li{
	margin: 0 0 40px 0;
	display: flex;
}
#exp ol li span{
	width: 230px;
	display: block;
}
#exp ol li span::after{
	content: '●';
	position: relative;
	left: 5px;
}
#exp ol li div{
	width: calc(100% - 230px);
}

#work{
	width: 100%;
	margin-top: 100px;
}
.slick-slide{
	outline: none;
}
.slick-arrow{
	position: absolute;
	width: 40px;
	height: 400px;
	top: 0;
	border: none;
	z-index: 10;
	background-color: rgba(0,0,0,.5);
	outline: none;
	cursor: pointer;
	color: #FFF;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}
.slick-arrow:hover{
	opacity: 1;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-dots{
	text-align: center;
	margin-top: 10px;
}
.slick-dots li{
	display: inline-block;
	margin: 0 5px;
}
.slick-dots li button{
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: none;
	color: transparent;
	background-color: rgba(0,0,0,.5);
	outline: none;
	cursor: pointer;
}
.slick-dots li.slick-active button{
	background-color: rgba(255,255,255,0.5);
}
.workArea{
	margin-top: 40px;
}
.workArea > div{
}
.workArea img{
	width: 100%;
	height: 400px;
	object-fit: contain;
}
footer{
	position: absolute;
	width: 100%;
	bottom:0;
}
#copyright p{
	display: block;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	#intro, .skill{
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	header ul li{
		width: 80px;
	}
	.skill > ol{
		width: 45%;
	}
	#exp ol li{
		flex-wrap: wrap;
	}
	#exp ol .line{
		left: 5px;
	}
	#exp ol li span{
		width: 100%;
	}
	#exp ol li span::after {
    display: none;
	}
	#exp ol li span::before {
    content: '●';
    position: relative;
    left: -2.5px;
	}
	#exp ol li div{
		width: calc(100% - 30px);
		padding-left: 30px;
	}
	.slick-arrow{
		opacity: 1;
	}
}

@media only screen and (max-width: 499px) {

}