@import url("reset.css");
body{
	font-family: '微軟正黑體', 'PingFang', 'sans-serif';
	color: rgba(13,13,13,0.9);
	min-height: 100vh;
	font-size: 18px;
}
p,li{
	line-height: 1.5;
	letter-spacing: 1.2px;
}
a{
	color: rgba(13,13,13,0.9);
	transition: opacity .2s ease-in-out;
}

.bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	left: 0;
	background: url(../img/bg1.jpg) no-repeat center;
	background-size: cover;
	filter: blur(2px);
}


header{
	padding: 20px 0;
}
header ul{
	display: block;
	text-align: right;
}
header ul li{
	display: inline-block;
	width: 150px;
	text-align: center;
}
header ul li a{
	color: rgba(255,255,255,0.9);
	font-size: 18px;
	font-weight: 500;
}

main{
	position: relative;
	background: rgba(204,204,204,.85);
}
.dome{
	border-radius: 50% 50% 0 0;
	background: rgba(204,204,204,.85);
	width: 100%;
	height: 200px;
	margin-top: 150px;
}
.content{
	width: 90%;
	top: -240px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content h2{
	font-size: 36px;
	margin-bottom: 20px;
}
.content h2 span{
	font-size: 24px;
	display: block;
	line-height: 1;
	font-family: 'Times New Roman', Times, serif;
}

#intro{
	width: 30%;
}

.skill{
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skill h2{
	width: 100%;
}
.skill > ol{
	width: 30%;
	margin-bottom: 40px;
}
.skill h3{
	font-size: 28px;
	border-bottom: 1.5px solid rgba(13,13,13,.9);
	padding:0 0 5px 10px;
	margin-bottom: 10px;
}
.skill li{
	padding-left: 10px;
}

@media only screen and (max-width: 770px) {
	header ul li{
		width: 80px;
	}
	.skill > ol{
		width: 45%;
	}
}
.shadow{
	box-shadow: 0px 0px 15px rgba(255,255,255,0.7);
}

.avatar{
	width: 100%;
	margin:0 auto 0 auto;
	top:-240px
}
.avatar > div{
	width: 100px;
	background-color: rgba(255,255,255,0.85);
	border: 1.5px solid #FFF;
	border-radius: 50%;
	margin:0 auto 10px auto;
}
.avatar p{
	text-align: center;
	font-weight: 900;
}
#exp{
	width: 100%;
	margin-top: 100px;
	overflow: hidden;
}
#exp ol{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
#exp ol .line{
	position: absolute;
	top: 0;
	left: 209px;
	width: 4px;
	height: 2000px;
	background-color: #666;
}
#exp ol li{
	margin: 0 0 40px 0;
	display: flex;
}
#exp ol li span{
	width: 230px;
	display: block;
}
#exp ol li span::after{
	content: '●';
	position: relative;
	left: 5px;
}
#exp ol li div{
	width: calc(100% - 230px);
}

#work{
	margin-top: 100px;
}

footer{
	position: absolute;
	width: 100%;
	bottom:0;
}
#copyright p{
	display: block;
	width: 100%;
	font-size: 12px;
	text-align: center;
}